.illandril-token-hud-scale--darken-hud-button-bg #token-hud .control-icon {
  background: rgba(0, 0, 0, 0.8);
}

.illandril-token-hud-scale--darken-hud-button-bg #token-hud .status-effects {
  background: rgba(0, 0, 0, 0.8);
}

.illandril-token-hud-scale--darken-hud-button-bg #token-hud .attribute input {
  background: rgba(0, 0, 0, 0.8);
}

.illandril-token-hud-scale--status-selector-scale #token-hud .status-effects {
  width: 152px;
  grid-template-columns: 38px 38px 38px 38px;
}

.illandril-token-hud-scale--status-selector-scale #token-hud .status-effects .effect-control {
  width: 36px;
  height: 36px;
}
