.illandril-token-hud-scale--status-selector-scale #token-hud .status-effects {
  width: 152px;
  grid-template-columns: 38px 38px 38px 38px;

  .effect-control {
    width: 36px;
    height: 36px;
  }
}
